@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

//Colors
$white: #fff;
$softCyan: #62e0d9;
$cyan: #8adae3;
$red: #ff4242;
$darkBlue: #181f2b;
$veryDarkBlue: #1b2330;

//Gradients
$cyanGradient: linear-gradient(134.79deg, #63e1d9 -42.11%, #34a0cd 100%);

//Fonts
$raleway: "Raleway", sans-serif;
$openSans: "Open Sans", sans-serif;
